# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/

# Virtualenv
venv/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/
logs/

# Ambiente
.env
.env.*
!.env.example

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Git
.git/
.gitignore

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
